.main {
    width: 100%;
    height: auto;
}

.main .color-selector {
    position: absolute;
    right: 20px;
    top: 30px;
    text-align: center;
}

.main .color-selector button {
    height: 20px;
    width: 20px;
    border-color: #000;
    border-width: 2px;
    border-radius: 4px;
}