<div class="sidebar" [style.width]="sidebarWidth">
    <div class="sidebar-header">
      <span class="sidebar-title"
      [style.visibility]="sidebarTitleVisibility"
      [style.animation-name]="animationName"
      [style.animation-iteration-count]="animationIterationCount"
      [style.animation-timing-function]="animationTimingFunction"
      [style.animation-duration]="animationDuration">MENU</span>
      <div class="sidebar-btn" (click)="toggleMenu()">
        <mat-icon *ngIf="isMenuOpened == false">menu</mat-icon>
        <mat-icon *ngIf="isMenuOpened == true" class="btn-close-menu">close</mat-icon>
      </div>
    </div>
    <ul class="sidebar-items">
      <li *ngFor="let item of sideMenuItems">
        <a href="{{ item.path }}" *ngIf="item.targetBlank == 'non'">
          <mat-icon>{{ item.iconName }}</mat-icon>
          <span class="sidebar-item-accueil"
          [style.opacity]="sidebarItemOpacity"
          [style.animation-name]="animationName"
          [style.animation-iteration-count]="animationIterationCount"
          [style.animation-timing-function]="animationTimingFunction"
          [style.animation-duration]="animationDuration">{{ item.pageName }}</span>
        </a>
        <a href="{{ item.path }}" *ngIf="item.targetBlank == 'oui'" target="_blank">
          <mat-icon>{{ item.iconName }}</mat-icon>
          <span class="sidebar-item-accueil"
          [style.opacity]="sidebarItemOpacity"
          [style.animation-name]="animationName"
          [style.animation-iteration-count]="animationIterationCount"
          [style.animation-timing-function]="animationTimingFunction"
          [style.animation-duration]="animationDuration">{{ item.pageName }}</span>
        </a>
      </li>
    </ul>
    <div class="sidebar-footer">
      <div class="profile">
        <img class="img-profile"
          src="https://media-exp1.licdn.com/dms/image/C5603AQHnr_CsffdV8Q/profile-displayphoto-shrink_400_400/0/1596692045954?e=1643241600&v=beta&t=yjVtuN4jU17UrV2mlBkWANHXkED2Tc9mbFxU7fVi5vI"
          alt="image_profile"
          (click)="toggleTooltipText()">
        <span class="tooltip" id="tooltip1" *ngIf="tooltipTextNum == 1">
          <span class="tooltip-text">
            <span [style.color]="'red'">&nbsp;<b>Cliquez </b></span>!
          </span>
        </span>
        <span class="tooltip" id="tooltip2" *ngIf="tooltipTextNum == 2">
          <span class="tooltip-text">
            Bonjour ! Moi c'est <span [style.color]="'red'">&nbsp;<b>Simon</b></span>.
          </span>
        </span>
        <span class="tooltip" id="tooltip3" *ngIf="tooltipTextNum == 3">
          <span class="tooltip-text">
            Je développe des <span [style.color]="'red'"><b>applis Web et Mobile</b></span>&nbsp;!
          </span>
        </span>
        <span class="tooltip" id="tooltip4" *ngIf="tooltipTextNum == 4">
          <span class="tooltip-text">
            <span [style.color]="'red'"><b>Découvrez-moi</b></span> avec ce site !
          </span>
        </span>
      </div>
    </div>
  </div>
