<div class="sidebar" [style.width]="sidebarWidth">
    <div class="sidebar-header">
      <span class="sidebar-title"
      [style.opacity]="sidebarOpacity"
      [style.animation-name]="animationName"
      [style.animation-iteration-count]="animationIterationCount"
      [style.animation-timing-function]="animationTimingFunction"
      [style.animation-duration]="animationDuration">MENU</span>
      <div class="sidebar-btn" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </div>
    </div>
    <ul class="sidebar-items">
      <li>
        <input type="text" placeholder="Rechercher..."
        [style.opacity]="sidebarOpacity"
        [style.animation-name]="animationName"
        [style.animation-iteration-count]="animationIterationCount"
        [style.animation-timing-function]="animationTimingFunction"
        [style.animation-duration]="animationDuration">
      </li>
      <li>
        <a href="#">
          <mat-icon>home</mat-icon>
          <span class="sidebar-item-accueil"
          [style.opacity]="sidebarOpacity"
          [style.animation-name]="animationName"
          [style.animation-iteration-count]="animationIterationCount"
          [style.animation-timing-function]="animationTimingFunction"
          [style.animation-duration]="animationDuration">Accueil</span>
        </a>
      </li>
      <li>
        <a href="#">
          <mat-icon>person</mat-icon>
          <span class="sidebar-item-profile"
          [style.opacity]="sidebarOpacity"
          [style.animation-name]="animationName"
          [style.animation-iteration-count]="animationIterationCount"
          [style.animation-timing-function]="animationTimingFunction"
          [style.animation-duration]="animationDuration">Profil</span>
        </a>
      </li>
      <li>
        <a href="#">
          <mat-icon>groups</mat-icon>
          <span class="sidebar-item-equipe"
          [style.opacity]="sidebarOpacity"
          [style.animation-name]="animationName"
          [style.animation-iteration-count]="animationIterationCount"
          [style.animation-timing-function]="animationTimingFunction"
          [style.animation-duration]="animationDuration">L'équipe</span>
        </a>
      </li>
      <li>
        <a href="#">
          <mat-icon>location_on</mat-icon>
          <span class="sidebar-item-localisation"
          [style.opacity]="sidebarOpacity"
          [style.animation-name]="animationName"
          [style.animation-iteration-count]="animationIterationCount"
          [style.animation-timing-function]="animationTimingFunction"
          [style.animation-duration]="animationDuration">Localisation</span>
        </a>
      </li>
      <li>
        <a href="#">
          <mat-icon>contact_mail</mat-icon>
          <span class="sidebar-item-contacte"
          [style.opacity]="sidebarOpacity"
          [style.animation-name]="animationName"
          [style.animation-iteration-count]="animationIterationCount"
          [style.animation-timing-function]="animationTimingFunction"
          [style.animation-duration]="animationDuration">Nous contacter</span>
        </a>
      </li>
    </ul>
    <div class="sidebar-footer">
      <div class="footer-items">
        <div class="profile"
        [style.opacity]="sidebarOpacity"
        [style.animation-name]="animationName"
        [style.animation-iteration-count]="animationIterationCount"
        [style.animation-timing-function]="animationTimingFunction"
        [style.animation-duration]="animationDuration">
          <img class="img-profile" src="https://media-exp1.licdn.com/dms/image/C5603AQHnr_CsffdV8Q/profile-displayphoto-shrink_200_200/0/1596692045954?e=1641427200&v=beta&t=vUS4xJjhVvzC8HvAmV0gTAI66pvLgTlMj_N-ioMZdf4" alt="image_profile">
          <span class="nom-complet">Simon BRIFFAUD</span>
        </div>
        <div class="deconnexion">
          <mat-icon>power_settings_new</mat-icon>
          <span class="tooltip">Déconnexion</span>
        </div>
      </div>
    </div>
  </div>
